@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;
@use '../../abstracts/colors' as *;
@use '../../abstracts/typography' as *;
.terciary-button{
    @include button(4px,red,$primary-color, 0.75rem, none);
    width:8rem;
    height:2rem;
}
.terciary-button-s{
    @include button(4px,$secondary-card-color,$primary-color, 0.75rem, capitalize);
    width:2rem;
    height:2rem;
}