// Variables Couleurs
$primary-color:white;
$secondary-color:black;
$terciary-color:grey;
$modal-color:#e8eff0;
$primary-card-color:#e5f1e8;
$secondary-card-color:#f8d7da;
$primary-tag-color:#0c700f;
