// Mixins
@use 'variables' as *;
@use 'colors' as *;
@use 'typography' as *;
// flex
@mixin flex($direction:row,$justify:space-between,$align:center,){
    display:flex;
    flex-direction:$direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap:wrap;
}
// Text
@mixin text($text-color:$secondary-color,$typo:$primary-font,$text-size:2rem){
    color:$text-color;
    font-family:$typo;
    font-size:$text-size;
    margin-top:1rem;
    margin-bottom:1rem;
}
//bouttons
@mixin button($radius:10px,$bg-color:$secondary-color,$color:$primary-color,$margin:1rem,$case:uppercase){
    border-radius:$radius;
    //font-family:$secondary-font;
    @include flex(row,center,center);
    margin-top:$margin;
    margin-bottom:$margin;
    color:$color;
    background-color:$bg-color;
    text-transform:$case;
    border: $terciary-color 1px solid;
    p{
        color:$color;
        margin : 0;
    }
}
